body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.quantity-input {
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
}

.right-btn-menu {
  float:right;
}

.product-item {
  margin-top: 25px;
}

.product-btn {
  margin-bottom: 5px;
}

.product-btn2 {
  margin-top: 10px;
}

.products {
  margin-bottom: 50px;
}

.right-btn {
  margin-top: 30px;
  float:right;
}

.left-btn {
  margin-top: 30px;
  float:left;
}

.mgtop {
  margin-top: 30px;
}

.mgbottom {
  margin-bottom: 30px;
}

input {
  margin-bottom: 10px;
}
